ion-list{
    padding-top: 0;
    padding-bottom: 0;
}


ion-item {
    --padding-start: 22px;
    --padding-end: 22px;
    --color: rgb(134, 134, 134);
    --detail-icon-opacity: 0.5;
    --inner-padding-end: 0px;
    --border-style: none;
    margin-bottom: -5px;
    --detail-icon-color: rgb(126, 137, 199);
    --detail-icon-font-size: 22px;
}


ion-note.custom-note1 {
    --color: rgb(162, 166, 187);
    font-size: 16px;
    margin-right: 0;
    padding-right: 10px;
    font-family: "3270Medium Nerd Font";
}


ion-note.custom-note2 {
    --color: rgb(162, 166, 187);
    font-size: 12px;
    margin-left: 0;
    padding-left: 10px;
}